.square{
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 1px solid black;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    color: black;
    background-color: white;
    vertical-align: top;
}
.game-board{
    width: 250px;
}
.game{
    display: flex;
    margin-top: 1em;
}
.row{
    display: flex
}
.vs-view{
    text-align: center;
    cursor: pointer;
}